* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-weight: 400 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--back-color);
  padding-bottom: 30px;
}

:root {
  --main-color: #EC362D;
  --sub-color: white;
  --correct-color: #009C22;
  --incorrect-color: #FF4B4B;
  --back-color: #FAFAFA;
}

header {
  height: 69px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
  font-size: 37px;
  font-weight: 700;
  color: var(--sub-color);
}

input {
  padding-left: 10px;
}

.hidden {
  display: none !important;
}

.restart {
  background-color: var(--main-color);
  border-radius: 15px;
  color: var(--sub-color);
  margin-top: 79px;
}

.return {
  margin-top: 8px;
  color: #818181;
  background-color: inherit;
}

button {
  font-size: 21px;
  height: 52px;
  border: none;
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

input {
  margin-top: 9px;
  width: 90%;
  height: 46px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
  font-size: 19px;
}

input::placeholder {
  color: #BABABA;
  font-style: italic;
  font-size: 19px;
}

h1 {
  font-size: 23px;
  font-weight: 700;
  margin-top: 71px;
  margin-bottom: 27px;
}

.input-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--sub-color);
  width: 100%;
  padding-top: 12px;
  padding-bottom: 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.entire-question>p {
  margin-left: 20px;
}

.entire-question {
  background-color: var(--sub-color);
  margin-bottom: 8px;
  margin-top: 12px;
  width: 100%;
}

form p {
  width: 92%;
  font-weight: 700;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.input-div-title {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.input-div-title img {
  cursor: pointer;
  width: 26px;
  height: 23px;
  margin-top: 10px;
}

@media (max-width: 600px) {
  form {
    width: 100%;
  }
  h1 {
    font-size: 20px;
  }
}
