.finished-quizz {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 266px;
  margin: 30px;
}

.finished-quizz p {
  position: absolute;
  width: 80%;
  text-align: center;
  overflow-wrap: break-word;
  left: auto;
  bottom: 30px;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 23px;
}

.finished-quizz img {
  height: 100%;
  width: 100%;
}

@media (max-width: 520px) {
  .finished-quizz {
    width: 340px;
    height: 181px;
  }
  .finished-quizz p {
    font-size: 19px;
  }
}
