.finished-quizz {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 266px;
}

.finished-quizz p {
  position: absolute;
  width: 400px;
  text-align: center;
  overflow-wrap: break-word;
  left: 50px;
  bottom: 30px;
  color: white;
  text-shadow: 0 0 2px black;
  font-size: 23px;
}

.finished-quizz img {
  height: 100%;
  width: 100%;
}
